{% extends 'base.html.twig' %}

{% block title %}Hello, Welcome to My Chat Page!{% endblock %}

{% block body %}
     <div class="container">
      <div class="row">
          <!-- The Modal -->
          <div id="myModal" class="modal">
              <!-- Modal content -->
              <span class="close">&times;</span>
              <div id="modal-content" class="modal-content">

                  <p>Some text in the Modal..</p>
              </div>

          </div>
       <div id="showForm" class="col-sm-4">
          {{ include('guestbook/_form.html.twig') }}
       </div>
       <div id="showTable" class="col-sm-8">
           {{ appointments |raw }}

            </div>
        </div>

    </div>
{% endblock %}